
<div class="neos-row-fluid neos neos-module media-browser media-module">
    <div class="neos-span5 neos-sort-tags">
        <h2>Edit categories</h2>

        <table class="neos-table">
            <thead>
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <f:for each="{categories}" key="key" as="category">
                <tr>
                    <td>
                        {category.name}
                    </td>
                    <td class="neos-action neos-aRight">
                        <a class="neos-button" data-toggle="modal" href="#renamecategory-{key}">
                            <i class="icon-pencil icon-white"></i>
                        </a>
                        <a class="neos-button neos-button-danger" data-toggle="modal" href="#deletecategory-{key}">
                            <i class="icon-trash icon-white"></i>
                        </a>

                        <div class="neos-hide" id="renamecategory-{key}">
                            <div class="neos-modal">
                                <f:form action="updateCategory" object="{category}" name="category">
                                    <div class="neos-modal-header neos-aLeft">
                                        <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                        <div class="neos-header">Rename category</div>
                                        <div>
                                            <div class="neos-subheader">
                                                <div class="neos-controls">
                                                    <f:form.textfield class="neos-span12" property="name" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="neos-modal-footer">
                                        <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                        <button type="submit" class="neos-button neos-button-primary" title="Rename category">
                                            Rename category
                                        </button>
                                    </div>
                                </f:form>
                            </div>
                            <div class="neos-modal-backdrop neos-in"></div>
                        </div>

                        <div class="neos-hide neos-aLeft" id="deletecategory-{key}">
                            <div class="neos-modal">
                                <div class="neos-modal-header">
                                    <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                    <div class="neos-header">Do you really want to delete the category?</div>
                                    <div>
                                        <div class="neos-subheader">
                                            <p>This will delete the category. This operation cannot be undone.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="neos-modal-footer">
                                    <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                    <f:form action="deleteCategory" arguments="{category: category}" class="neos-inline">
                                        <button type="submit" class="neos-button neos-button-danger" title="Delete category">
                                            Yes, delete the category
                                        </button>
                                    </f:form>
                                </div>
                            </div>
                            <div class="neos-modal-backdrop neos-in"></div>
                        </div>
                    </td>
                </tr>
            </f:for>
            </tbody>
        </table>

    </div>

    <div class="neos-span4 neos-sort-tags neos-offset1">
        <h2>New category</h2>

        <f:form action="addCategory" name="category">
            <div class="neos-control-group">
                <label class="neos-control-label" for="name">Name</label>
                <div class="neos-controls">
                    <f:form.textfield class="neos-span12" id="name" name="name" />
                </div>
            </div>
            <button type="submit" class="neos-button neos-button-primary">Add category</button>
        </f:form>

    </div>
</div>


<div class="neos-footer">
    <f:link.action action="index" class="neos-button">Back</f:link.action>
</div>