<div class="neos-row-fluid neos neos-module media-browser media-module">
    <div class="neos-span2 neos-sort-tags">

        <h2>
            Categories
            <f:link.action action="editCategories" id="neos-tags-list-edit-toggle" class="neos-button"><i class="icon-pencil"></i></f:link.action>
        </h2>
        <ul class="neos-tags-list">
            <li>
                <f:link.action action="index" class="{f:if(condition:'{activeCategory}',else:'neos-active')}">
                    All
                    <span class="count">{allTodosCount}</span>
                </f:link.action>
            </li>

            <f:for each="{categories}" as="category">
                <li>
                    <f:link.action action="index" class="{f:if(condition:'{category} == {activeCategory}',then:'neos-active')}" arguments="{category: category}">
                        {category.name}
                        <span class="count">{category.todos -> f:count()}</span>
                    </f:link.action>
                </li>
            </f:for>

        </ul>
        <br/><br/>
        <f:link.action action="add" class="neos-button neos-button-primary hftodos-button-add" title="Create Todo">
            Create Todo
        </f:link.action>

    </div>

    <div class="neos-span10">

        <f:widget.paginate objects="{todos}" as="paginatedTodos" configuration="{itemsPerPage: 10}">
            <table class="neos-table">
                <thead>
                    <tr>
                        <th width="20"></th>
                        <th>Title</th>
                        <th width="160">Created</th>
                        <th width="15%">Author</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <f:for each="{paginatedTodos}" key="key" as="todo">
                        <tr>
                            <td>
                                <f:form action="markTodo">
                                    <f:form.hidden name="todo" value="{todo}" />
                                    <label for="check-{key}" class="neos-checkbox">
                                        <f:form.checkbox name="done" checked="{todo.done}"
                                                     onclick="$.post('{f:uri.action(action:'markTodo')}', $(this.form).serialize());"
                                                     value="{true}" id="check-{key}"/>
                                    <span></span></label>
                                </f:form>
                            </td>
                            <td>
                                <f:link.action action="details" arguments="{todo: todo}">
                                    <f:if condition="{todo.category}"><span class="hftodos-category-prefix">{todo.category.name}: </span></f:if>
                                    {todo.title}
                                </f:link.action>
                            </td>
                            <td>
                                <f:format.date format="d.m.Y - H:i">{todo.creationDate}</f:format.date>
                            </td>
                            <td>
                                {todo.author.party.name}
                            </td>
                            <td class="neos-action neos-aRight">
                                <f:link.action class="neos-button" action="edit" arguments="{todo: todo}">
                                    <i class="icon-pencil icon-white"></i>
                                </f:link.action>
                                <a class="neos-button neos-button-danger" data-toggle="modal" href="#deletetodo-{key}">
                                    <i class="icon-trash icon-white"></i>
                                </a>

                                <div class="neos-hide neos-aLeft" id="deletetodo-{key}">
                                    <div class="neos-modal">
                                        <div class="neos-modal-header">
                                            <button type="button" class="neos-close neos-button" data-dismiss="modal"></button>
                                            <div class="neos-header">Do you really want to delete the todo?</div>
                                            <div>
                                                <div class="neos-subheader">
                                                    <p>This will delete the todo. This operation cannot be undone.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="neos-modal-footer">
                                            <a href="#" class="neos-button" data-dismiss="modal">Cancel</a>
                                            <f:form action="delete" arguments="{todo: todo}" class="neos-inline">
                                                <button type="submit" class="neos-button neos-button-danger" title="Delete todo">
                                                    Yes, delete the todo
                                                </button>
                                            </f:form>
                                        </div>
                                    </div>
                                    <div class="neos-modal-backdrop neos-in"></div>
                                </div>
                            </td>
                        </tr>
                    </f:for>
                </tbody>
            </table>
        </f:widget.paginate>

    </div>
</div>

