<div class="neos-row-fluid">
    <div class="neos-span12 hftodolist-options">

        <div style="float:left">
            <a href="#"><i class="icon-plus"></i> Add</a>
        </div>
    </div>
</div>

<div class="neos-row-fluid neos neos-module media-browser media-module">
    <div class="neos-span2 neos-sort-tags">

            <h2>Categories</h2>
            <ul class="neos-tags-list">

                <li>
                    <a href="#">All <span class="count">9</span></a>
                </li>
                <li>
                    <a href="#">Development <span class="count">2</span></a>
                </li>
                <li>
                    <a href="#" class="neos-active">Receipts <span class="count">4</span></a>
                </li>
            </ul>

    </div>

    <div class="neos-span10">

        <table class="neos-table">
            <thead>
                <tr>
                    <th width="30">Done</th>
                    <th>Title</th>
                    <th width="200">Creation date</th>
                    <th width="200">Author</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <label for="id1" class="neos-checkbox"><f:form.checkbox name="nodes[]" value="{false}" id="id1" /><span></span></label>
                    </td>
                    <td>
                        <h3>Testtitle Lorem Ipsum</h3>
                        <p style="color:#EEE;font-size: 10pt;margin-bottom:15px;">dfdfj fndfjgndjklfgn djkflng fdjkngk dfdfj fndfjgndjklfgn djkflng fdjkngk dfdfj fndfjgndjklfgn djkflng fdjkngk dfdfj fndfjgndjklfgn djkflng fdjkngk dfdfj fndfjgndjklfgn djkflng fdjkngk </p>
                    </td>
                    <td>01.01.2015  12:00</td>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <td>
                        <label for="id2" class="neos-checkbox"><f:form.checkbox name="nodes[]" value="{false}" id="id2" /><span></span></label>
                    </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                        <label for="id2" class="neos-checkbox"><f:form.checkbox name="nodes[]" value="{false}" id="id2" /><span></span></label>
                    </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                        <label for="id2" class="neos-checkbox"><f:form.checkbox name="nodes[]" value="{false}" id="id2" /><span></span></label>
                    </td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>

    </div>
</div>